mixin portfolio()
	section.portfolio&attributes(attributes)
		.portfolio__container
			img.portfolio__recent(src="img/recent.png" alt="recent")
			.portfolio__block
				.portfolio__row
					.portfolio__item
						img.portfolio__element.portfolio__element_how(src="img/how.png" alt="how")
					.portfolio__item
						img.portfolio__element.portfolio__element_tools(src="img/tools.png" alt="tools")
					.portfolio__item
						img.portfolio__element.portfolio__element_village(src="img/village.png" alt="village")
				.portfolio__row
					.portfolio__item
						img.portfolio__element.portfolio__element_hands(src="img/hands.png" alt="hands")
					.portfolio__item
						img.portfolio__element.portfolio__element_flower(src="img/flower.png" alt="flower")
					.portfolio__item
						img.portfolio__element.portfolio__element_color(src="img/color.png" alt="color")
				.portfolio__row
					.portfolio__item
						img.portfolio__element.portfolio__element_ferte(src="img/ferte.png" alt="ferte")
					.portfolio__item
						img.portfolio__element.portfolio__element_orange(src="img/orange.png" alt="orange")
					.portfolio__item
						img.portfolio__element.portfolio__element_circles(src="img/circles.png" alt="circles")
