mixin imagination()
	section.imagination&attributes(attributes)
		.imagination__container
			img.imagination__logo(src="img/logo.png" alt="logo")
			p.imagination__text.
				Lone bird is the Creative Studio
			p.imagination__text.
				with northern european standards of quality work.
			p.imagination__text.
				We beleive:
			p.imagination__text.
				what has triggered evolution of mankind
			p.imagination__text.
				and has helped us to surpass the destiny of extinction
			p.imagination__text.
				to rule this world alone was
			p.imagination__text.imagination__text_image
				Imagination
			img.imagination__cave(src="img/cave-art.png" alt="cave")
