mixin imagination()
	section.imagination&attributes(attributes)
		.imagination__container
			img.imagination__logo(src="img/logo.png" alt="logo")
			p.imagination__text.
				Lone bird is the Creative Studio
				with northern european standards of quality work.
				We beleive:
				what has triggered evolution of mankind
				and has helped us to surpass the destiny of extinction
				to rule this world alone was
				Imagination
			img.imagination__cave(src="img/cave-art.png" alt="cave")
