.hero
  display block
  background-color #99dcd3
  height 37.5vw
  position relative
  &__img
    width 9.9vw
    height 5.5vw
    margin-left 4.1vw
    padding-top 2.6vw
  &__logo
    width 100%
  &__pic
    position absolute
    width 45vw
    top 7.3vw
    left 0
  &__laptop
    width 100%
  &__text
    position absolute
    font-family Arial, sans-serif
    color #343434
    font-size 3.1vw
    font-weight 700
    top 12.5vw
    left 47vw
    width 34vw