@font-face
  font-family 'NoteraPersonalUseOnly'
  src url('../fonts/NoteraPersonalUseOnly/NoteraPersonalUseOnly.eot')
  src url('../fonts/NoteraPersonalUseOnly/NoteraPersonalUseOnly.eot?#iefix') format('embedded-opentype'), url('../fonts/NoteraPersonalUseOnly/NoteraPersonalUseOnly.woff') format('woff'), url('../fonts/Notera Personal Use Only.ttf') format('truetype'),
  font-weight 400
  font-style normal

@font-face
  font-family 'Gabriola'
  src url('../fonts/Gabriola/Gabriola.eot')
  src url('../fonts/Gabriola/Gabriola.eot?#iefix') format('embedded-opentype'), url('../fonts/Gabriola/Gabriola.woff') format('woff'), url('../fonts/Notera Personal Use Only.ttf') format('truetype'),
  font-weight 400
  font-style normal

@font-face
  font-family 'NellaSueDemo'
  src url('../fonts/NellaSueDemo/NellaSueDemo.eot')
  src url('../fonts/NellaSueDemo/NellaSueDemo.eot?#iefix') format('embedded-opentype'), url('../fonts/NellaSueDemo/NellaSueDemo.woff') format('woff'), url('../fonts/Notera Personal Use Only.ttf') format('truetype'),
  font-weight 400
  font-style normal

