//@font-face
//  font-family 'NoteraPersonalUseOnly'
//  src url('../fonts/NoteraPersonalUseOnly.eot')
//  src url('../fonts/NoteraPersonalUseOnly.eot?#iefix') format('embedded-opentype'), url('../fonts/NoteraPersonalUseOnly.woff2') format('woff2'), url('../fonts/NoteraPersonalUseOnly.woff') format('woff'), url('../fonts/Notera Personal Use Only.ttf') format('truetype'),
//  font-weight 400
//  font-style normal
//
