@font-face
  font-family 'NoteraPersonalUseOnly'
  src url('../fonts/NoteraPersonalUseOnly/NoteraPersonalUseOnly.eot')
  src url('../fonts/NoteraPersonalUseOnly/NoteraPersonalUseOnly.eot?#iefix') format('embedded-opentype'), url('../fonts/NoteraPersonalUseOnly/NoteraPersonalUseOnly.woff') format('woff'), url('../fonts/Notera Personal Use Only.ttf') format('truetype'),
  font-weight 400
  font-style normal

@font-face
  font-family 'Geomanist'
  src url('../fonts/Geomanist-Roman-Desktop/Geomanist-Roman-Desktop.eot')
  src url('../fonts/Geomanist-Roman-Desktop/Geomanist-Roman-Desktop.eot?#iefix') format('embedded-opentype'), url('../fonts/Geomanist-Roman-Desktop/Geomanist-Roman-Desktop.woff') format('woff'), url('../fonts/Notera Personal Use Only.ttf') format('truetype'),
  font-weight 700
  font-style normal

@font-face
  font-family 'NellaSueDemo'
  src url('../fonts/NellaSueDemo/NellaSueDemo.eot')
  src url('../fonts/NellaSueDemo/NellaSueDemo.eot?#iefix') format('embedded-opentype'), url('../fonts/NellaSueDemo/NellaSueDemo.woff') format('woff'), url('../fonts/Notera Personal Use Only.ttf') format('truetype'),
  font-weight 400
  font-style normal

@font-face {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Gabriela");
}
