mixin footer()
	section.footer&attributes(attributes)
		button.footer__up
			img.footer__back(src="img/back.png" alt="back")
		.footer__container
			img.footer__bird(src="img/bird.png" alt="bird")
			.footer__icons
				a(href="#").footer__link
					img.footer__social(src="img/instagram.svg" alt="instagram")
				a(href="#").footer__link
					img.footer__social(src="img/twitter.svg" alt="twitter")
				a(href="#").footer__link
					img.footer__social(src="img/upwork.png" alt="upwork")