.footer
  display block
  height 30vw
  width 100%
  position relative
  &__up
    -webkit-appearance none
    -moz-appearance none
    border none
    background-color transparent
    padding 5px
    position absolute
    top 10.9vw
    left 10.5vw
    width 3.9vw
  &__container
    width 40vw
    margin auto
    padding-top 11.2vw
  &__bird
    width 64px
    display block
    margin 0 auto
  &__icons
    margin 6.6vw auto 0
    width 297px
    display flex
    justify-content space-between
  &__link
    text-decoration none
    height 21px
    width 21px
