.welcome
  display block
  width 100%
  background-image url("../../img/hills.jpg")
  background-size cover
  height 45.1vw
  position relative
  &__header
    padding-top 2.55vw
    width 89.3vw
    margin-left 5.7vw
    &:after
      content ""
      clear both
      display table
  &__logo
    width 10.1vw
    float left
    margin-top 0.5vw
  &__open
    -webkit-appearance none
    -moz-appearance none
    border none
    background none
    float right
    width 2.4vw
  &__open-img
    width 100%
  &__lamp
    width 16.3vw
    position absolute
    left 41.9%
    top -0.9vw
  &__container
    width 32.9vw
    margin 7.9vw auto 0
    position relative
    height 15vw
  &__title
    display block
    margin 0 auto
    width 100%
  &__subtitle
    color green
